@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans_500.otf') format('opentype');
}

@font-face {
    font-family: 'MuseoSans-Light';
    src: url('../fonts/MuseoSans_300.otf') format('opentype');
}



@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/*-- colors --*/
$Primary-color : #575656; /* Grey */
$Secondary-color : #61c0bd;/* light blue */
$Third-color : #5b6172;/*Dark blue*/
$Fourth-color : white;

/*-- fonts --*/
$Primary-font :  'MuseoSans';
$Primary-font-300 : 'MuseoSans-Light';
$Secondary-font : 'OpenSans';
$Secondary-Semibold-font : 'OpenSans-SemiBold';



/*=================================== /
     General Website Break points
/ ==================================*/

@mixin tablet-landscape {
  @media (max-width :991px){
   @content;
  }
}

@mixin columns-fullWidth {
  @media (max-width :835px){
   @content;
  }
}

@mixin heading-reduction {
  @media (max-width :580px){
    @content;
  }
}


@mixin phone {
  @media (max-width :378px){
    @content;
  }
}

html{
   width: 100%;
   max-width: 100%;
}

body{
    color : $Primary-color;
    font-family: $Primary-font;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-size: 15.15px;
}

/* class for for clearing floats */
.clearfix{
    display : block;
    content : "";
    clear : both;
}

.clearfix:after{
  height: unset;
  display:  none;
}

h1{
  font-size: 59.53px;
  font-weight: 300;
  font-family: $Primary-font-300;
}

h2{
  font-size: 28.14px;
  text-transform: uppercase;
  margin-top: 0px;
  text-align: center;
  font-weight: inherit;
}


.wrapper{
    display : block;
     width : 87.9%;
    margin : 0 auto;
}

 @include phone{
  .wrapper{
     width : 94%;
  }
 }




/*--------------------- Navigation section ----------------------*/

#navigation{
  display: block;
  position: relative;
  width: 100%;
}


nav{
  display: inline-block;
  position: relative;
  width: 69%;
  float:  right;
}

#logo{
 display: inline-block;
 position: relative;
 height:  78px;
 float: left;
 width: 12.7%;
}

.home-logo{
   width: 174px;
    height: 24px;
    display: inline-block;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1.875rem;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.5s ease-in-out;
}

ul.menu{
    padding-left : 0px;
}


#block-system-main-menu h2{
    display : none;
}

#block-system-main-menu{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

#block-system-main-menu .menu{
    text-align : right;
    margin-top: 2rem;
}

#block-system-main-menu .menu li{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

#block-system-main-menu{
  .menu li a{
    color: $Primary-color;
    font-size: 15.5px;
    margin-left: 17.5px;
    margin-right: 17.5px;
    text-decoration: none;
    text-transform: uppercase;
  }
}


#block-system-main-menu{
  .menu li.last.leaf a{
    border: 1px solid $Secondary-color;
    border-radius:  2px;
    color:  $Secondary-color;
    padding: 10px 20px;
  }
}

#block-system-main-menu{
  .menu li.last.leaf a:hover{
    border: 1px solid $Fourth-color;
    color:  $Fourth-color;
    background:  $Secondary-color;
  }
}

/*--- hidden join us link --*/

#block-views-join-us-hidden-link-block{
  .field-content a{
    display:  none;
    border: 2px solid $Secondary-color;
    border-radius:  2px;
    color:  $Secondary-color;
    padding: 10px 20px;
  }
}

#block-views-join-us-hidden-link-block{
  .field-content a:hover{
    border: 2px solid $Fourth-color;
    color:  $Fourth-color;
    background:  $Secondary-color;
  }
  
}


#block-system-main-menu{
  .menu li a:hover{
        color:  $Secondary-color;
        text-decoration : none;
        transition : all 0.5s ease-in-out;
      }
}


#block-system-main-menu{
  .menu li a.active-trail{
    border-radius: 2px;
  }
}

.mean-container .mean-bar {
    float: right;
    width: 100%;
    margin-top: 1.25rem;
    position: absolute;
    background: none;
    padding: 4px 0px;
    z-index: 48;
}


.mean-container{
  a.meanmenu-reveal {
    color: $Secondary-color;
  }
}

.mean-container{
  .mean-nav {
    float: left;
    width: 100%;
    margin-top: 3.937rem;
    background: none;
  }
}

.mean-container{
  .mean-nav ul {
    padding: 0;
    margin: 0;
    border-top: 2px solid $Secondary-color;
    width: 100%;
    list-style-type: none;
  }
}

.mean-container{
  .mean-nav ul li {
    background: unset;
    border-bottom: 1px solid #dedee0;
  }
}

.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #67676a;
    border : none;
    background:  $Fourth-color;
    text-decoration: none;
    text-transform: uppercase;
}

.mean-container .mean-nav ul li a:hover{
  transition: 0.3s all ease-in-out;
  background: $Secondary-color;
  color:$Fourth-color;
}

.mean-container .mean-nav h2{
    display: none;
}

.mean-container a.meanmenu-reveal span {
    background: #80cfd1;
}


/*=================================== /
  Navigation Specific Break points
/ ==================================*/


@mixin nav-margin {
  @media (max-width :778px){
    @content;
  }
}

@mixin responsive-menu {
  @media (max-width :707px){
    @content;
  }
}


@include nav-margin{
  #block-system-main-menu {
    .menu li a {
    margin-left: 8.5px;
    margin-right: 8.5px;
   }
  }
  #logo{
    width : unset;
  }
  
}


@include responsive-menu{
  
  nav {
    width: unset;
  }
  
  .mean-container{
    .mean-nav ul li.mean-last {
   display: none !important;
    }
  }
  
  #block-views-join-us-hidden-link-block{
    .field-content a {
    position: relative;
    display: inline-block;
    text-decoration:  none;
    float: right;
    right: 20px;
    margin-top: 1.375rem;
    z-index: 50;
    }
   }
   
   .mean-container{
    .mean-bar {
    z-index: 48;
    }
  }
}

@include phone{
  
  .home-logo {
    width: 146px;
  }
  
  #block-views-join-us-hidden-link-block .field-content a{
    padding: 5px 10px;
    margin-top: 1.75rem;
    right: 44px;  
  }

}


/*-------------- Carousel Section ------------ */

#carousel{
    text-align: center;
    position: relative;
    display: block;
    clear: both;
    padding-bottom: 5.1875rem;
    padding-top: 4.675rem;
    width: 100%;
    margin-top: 0px;
    max-width: 100%;
    overflow: hidden;
    background: url(../images/hero.jpg) no-repeat;
    background-size: cover;
}


#carousel{
  #block-views-hero-text-block h1{
  font-size: 59.53px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 1.562rem;
  color: $Fourth-color;
  }
}

#carousel{
  #block-views-hero-text-block p{
    font-family: $Secondary-font;
    color: $Fourth-color;
    width:  55.58%;
    margin: 0 auto;
  }
}

#carousel{
  #block-views-hero-text-block p.first{
    line-height: 35.72px;
    font-size: 18.4px;
  }     
}

#carousel{
  #block-views-hero-text-block p.second{
   margin-top: 1.625rem;
   margin-bottom: 1.312rem;
  }
}

#carousel{
  #block-views-hero-text-block p.third{
   line-height : 54.12px;
   font-size: 18.4px;
  }
}



/*=================================== /
     Carousel Specific Break points
/ ==================================*/

@mixin hero-text {
  @media (max-width :580px){
    @content;
  }
}


@include tablet-landscape{
  
  #carousel {
   #block-views-hero-text-block h1 {
    font-size: 46.53px;
   }
  }
   
  #carousel {
   #block-views-hero-text-block p {
    width: 85.58%;
   }
  }
}

@include hero-text{
  
  #carousel {
    #block-views-hero-text-block h1 {
      font-size: 41.53px;
    }
  }
   
   #carousel {
     #block-views-hero-text-block p.third {
      line-height: 32.12px;
     }
   }
}

@include phone{
  
  #carousel {
    #block-views-hero-text-block h1 {
    font-size: 30.53px;
    }
  }
  
}

/*------------------------ Events -------------------------*/

#events{
    position: relative;
    background: #f1f2f5;
    display: block;
    width: 100%;
    padding : 2.06rem 0px 2.06rem;
}


#events{
  #block-views-next-event-block .dates-and-label-fieldset{
  margin-bottom:  0.75rem;
  display: inline-block;
  width : 80%;
  }
}

#events{
  #block-views-next-event-block .company-name-and-location-fieldset{
  display: inline-block;
  width : 80%;
  }
}

#events{
  #block-views-next-event-block .views-field-field-event-registration-link{
  display: inline-block;
  float:  right;
  margin-top: -18px;
  }
}

#events{
  #block-views-next-event-block .dates-and-label-fieldset .views-field-nothing{
  margin-top : 0px;
  color: $Secondary-color;
  display: inline-block;
  font-size: 18.4px;
  font-weight: bold;
  }
}

#events {
  #block-views-next-event-block .views-field-field-event-date-date, .views-field-field-event-date-date-1{
  display: inline-block;
  font-size: 18.4px;
  color: $Primary-color;
  }
}

#events {
  #block-views-next-event-block .views-field-field-event-location{
  display: inline-block;
  color : $Third-color;
  font-family: $Secondary-font;
  }
}

#events {
  #block-views-next-event-block .views-field-title{
  display: inline-block;
  color : $Third-color;
  font-family: $Secondary-font;
  }
}

#events {
  #block-views-next-event-block .views-field-field-event-registration-link a{
    background:  $Secondary-color;
    text-decoration: none;
    border-radius:  2px;
    color:  $Fourth-color;
    padding: 10px 20px;
    border: 2px solid $Secondary-color;
  }
}

#events {
  #block-views-next-event-block .views-field-field-event-registration-link a:hover{
    transition:  all ease-in-out 0.5s;
    color:  $Secondary-color;
    background: $Fourth-color;
  }
}

/*=================================== /
     Event Specific Break points
/ ==================================*/

@mixin event {
  @media (max-width :588px){
    @content;
  }
}

@include event{
  
   #events{
    text-align: center;
    }
   
  #events{
    #block-views-next-event-block .dates-and-label-fieldset {
    margin-bottom: 0.75rem;
    display: block;
    width: 100%;
    text-align: center;
    }
  }
  
  #events{
    #block-views-next-event-block .company-name-and-location-fieldset {
    display: block;
    width: 100%;
    text-align: center;
    }
  }
  #events{
    #block-views-next-event-block .views-field-field-event-registration-link {
    display: inline-block;
    position: relative;
    float: none;
    margin-top: 2rem;
    }
  }
 
}


/*----------------------Get Involved -------------------------*/


#get-involved{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding:  2.6875rem 0rem 2.6875rem;
}

#get-involved {
  #block-views-get-involved-block h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 28.14px;
    margin-top: 0px;
    margin-bottom: 3.187rem;
  }
}


#get-involved {
  #block-views-get-involved-block .views-row{
  display : inline-block;
  position: relative;
  width: 32%;
  }
}

#get-involved {
  #block-views-get-involved-block .views-field-title{
  font-size:  18.4px;
  color: $Primary-color;
  text-transform: uppercase;
  padding-top: 10rem;
  }
}

#get-involved {
  #block-views-get-involved-block .views-row-1 .views-field-title{
  background:  url(../images/meetup.png) no-repeat;
  background-size: 161px;
  background-position:  top 0px center;
  }
}

#get-involved {
  #block-views-get-involved-block .views-row-2 .views-field-title{
  background:  url(../images/slack.png) no-repeat;
  background-size: 119px;
  background-position:  top 0px center;
  }
}

#get-involved {
  #block-views-get-involved-block .views-row-3 .views-field-title{
  background:  url(../images/share.png) no-repeat;
  background-size: 119px;
  background-position:  top 0px center;
  }
}


#get-involved {
  #block-views-get-involved-block .views-field-body{
  color: $Primary-color;
  font-family: $Secondary-font;
  margin-top:  1.875rem;
  margin-bottom:  1.875rem;
  }
}


#get-involved #block-views-get-involved-block  .views-field-field-home-page-link a{
    display:  inline-block;
    border: 2px solid $Secondary-color;
    text-transform: uppercase;
    border-radius:  2px;
    color:  $Secondary-color;
    padding: 10px 20px;
    text-decoration: none;
}

#get-involved {
  #block-views-get-involved-block  .views-field-field-home-page-link a:hover{
    border: 2px solid $Fourth-color;
    color:  $Fourth-color;
    background:  $Secondary-color;
  }
}

/*=================================== /
   get-involved Specific Break points
/ ==================================*/


@include columns-fullWidth{
  
  #get-involved #block-views-get-involved-block .views-row {
    width: 100%;
  }

  
  #get-involved #block-views-get-involved-block .views-row-2 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    padding: 2.25rem 0rem 2.25rem;
  }
}

@include heading-reduction{ 
  #get-involved #block-views-get-involved-block h2{
    font-size: 26.14px;
  }
}

/*----------------------- Mission -------------------------*/

#mission{
    position: relative;
    display: block;
    width: 100%;
    background: #f1f2f5;
    padding-top: 2.375rem; 
    text-align: center;
    border-bottom: 1px solid #f1f2f5;
}

#mission .wrapper{
   border-bottom: 1px solid #d9dadd;
   padding-bottom: 3.312rem;
}
  
  

#mission {
  #block-views-our-mission-block .views-row{
  display : inline-block;
  position: relative;
  width: 31%;
  margin: 0px;
  }
}

#mission {
  #block-views-our-mission-block h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 28.14px;
    margin-top: 0px;
    margin-bottom: 2rem;
  }
    
}

#mission {
  #block-views-our-mission-block .view-header{
  display: block;
  font-family: $Secondary-font;
  color: $Third-color;
  margin-bottom: 5.3125rem;
  }
}

#mission {
  #block-views-our-mission-block .view-header span{
  display: block;
  font-family: $Primary-font;
  font-size: 18.4px;
  color: $Third-color;
  margin-top:  1.875rem;
  margin-bottom: 3.125rem;
  }
}

#mission {
  #block-views-our-mission-block fieldset{
    background: $Fourth-color;
    border: none;
    padding-left: 33px;
    padding-right: 33px;
    margin: 0px;
  }
}


#mission {
  #block-views-our-mission-block fieldset legend{
  display: none;
  }
}

#mission {
   #block-views-our-mission-block .views-field-field-images img{
    position: relative;
    width: 93px;
    height: 93px;
    top: -41.5px;
    border: 11px solid $Fourth-color;
    border-radius: 50%;
   }
}

#mission {
  #block-views-our-mission-block .views-field-title{
  font-size:  18.4px;
  color: $Secondary-color;
  margin-top: -37px;
  }
}

#mission {
  #block-views-our-mission-block .views-row-1{
   float: left;
  }
}

#mission {
  #block-views-our-mission-block .views-row-2{
    float: none;
  }
}

#mission {
  #block-views-our-mission-block .views-row-3{
    float: right;
  }
}

#mission {
  #block-views-our-mission-block .views-field-body{
  font-family:  $Secondary-font;
  padding-bottom: 18px;
  }
}

/*=================================== /
   #mission Specific Break points
/ ==================================*/

@include columns-fullWidth{
  #mission {
    #block-views-our-mission-block .views-row {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0px;
    }
  }
   
   #mission {
    #block-views-our-mission-block .views-row-3 {
    float: none;
    }
  }

    #mission #block-views-our-mission-block .views-row-1 .fieldset {
    margin-bottom: 3rem;
  }

    #mission #block-views-our-mission-block .views-row-2 .fieldset {
    margin-bottom: 3rem;
  }
}

@include heading-reduction{
  #mission {
    #block-views-our-mission-block h2{
    font-size: 26.14px;
    }
  }


}



/*------------------------- Members ---------------------------*/

#members{
    position: relative;
    display: block;
    width: 100%;
    padding:  3rem 0px 1.06rem;
    text-align:  center;
    background: #f1f2f5;
}

#members {
  #block-views-our-members-block h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 28.14px;
    margin-top: 0px;
    margin-bottom: 2rem;
  }
}

/*=================================== /
   #members Specific Break points
/ ==================================*/

@include heading-reduction{ 
 #members {
   #block-views-our-members-block h2{
    font-size: 26.14px;
    }
  }
}


/*---------------------- Blog ---------------------------*/

#blog{
    position: relative;
    display: block;
    width: 100%;
    padding: 3rem 0rem 0.5rem;
    font-family: $Secondary-font;
}


#blog {
  #block-views-blog-block h2{
    text-align: center;
    font-size: 28.14px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 1.75rem;
  }
}

#blog {
  #block-views-blog-block .views-field-title{
    text-align: left;
    font-family : $Secondary-font;
   // font-family: $Secondary-Semibold-font;
    margin-top: 0px;
    margin-bottom:  1rem;
    padding-bottom:  1rem;
    border-bottom: 1px solid #f5f5f8;
    color: #5dc0c9;
  }
}

#blog {
  #block-views-blog-block .views-field.views-field-field-blog-date{
    margin-top:  1.437rem;
    padding-top:  1.437rem;
    border-top: 1px solid #f5f5f8;
  }
}

#blog {
  #block-views-blog-block .slick-dots{
  display:  none !important;
  bottom: -79px;
  }
}

#blog #block-views-blog-block .slick-prev {
    left: -52px;
    background:  url(../images/left-arrow.png) no-repeat;
    background-size: 37px;
    background-position:  center;
}

.slick-prev:before {
    content: none !important;
}

#blog #block-views-blog-block .slick-next {
    right: -52px;
    background:  url(../images/right-arrow.png) no-repeat;
    background-size: 37px;
    background-position:  center;
}

.slick-next:before {
    content: none !important;
}

.slick-dots {
    position: relative;
    bottom: -15px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button:before{
  color: #5fc0c3 !important;
}

/*=================================== /
   #blog Specific Break points
/ ==================================*/

@mixin slick-arrows-tablet {
  @media (max-width :804px){
    @content;
  }
}

 @mixin slick-arrows-phone {
  @media (max-width :517px){
    @content;
  }
}

@include slick-arrows-tablet{
  #blog {
    #block-views-blog-block .slick-next {
     right: -38px;
    }
  }
  #blog {
    #block-views-blog-block .slick-prev {
    left: -38px;
    }
  }
}

@include heading-reduction{
  #blog #block-views-blog-block .slick-next {
    right: -32px;
  }
  #blog #block-views-blog-block .slick-prev {
    left: -35px;
  }
  
  #blog #block-views-blog-block h2{
    font-size: 26.14px;
  }

}

@include slick-arrows-phone {
  #blog #block-views-blog-block .slick-next {
    background-size: 22px;
    right: -32px;
  }
  #blog #block-views-blog-block .slick-prev {
    background-size: 22px;
    left: -32px;
  }
}

@include phone {
  #blog .wrapper{
     width : 84% !important;
  }
}

/*-------------------- Footer ------------------------*/

#footer{
    position: relative;
    display: block;
    width: 100%;
    background: #454850;
    padding: 0.81rem 0px 0.687rem;
    text-align: center;
}

#footer {
  .view-social-media-icons .field-content a{
  padding: 15px;
  font-size : 0px;
  }
}


#footer {
  .view-social-media-icons .field-content a.facebook{
  display:  inline-block;
  background:  url(../images/facebook-icon.png) no-repeat;
  background-size : contain;
  background-position:  center;
  }
}

#footer {
  .view-social-media-icons .field-content a.twitter{
  display:  inline-block;
  background:  url(../images/twitter-icon.png) no-repeat;
  background-size : contain;
  background-position:  center;
  }
}

#footer {
  .view-social-media-icons .field-content a.google-plus {
  display:  inline-block;
  background:  url(../images/google-plus-icon.png) no-repeat;
  background-size : contain;
  background-position:  center;
  }
}

/*------------------------- Sub Footer -----------------------*/

#sub-footer{
    position: relative;
    display: block;
    background: #454850;
    width: 100%;
    text-align: center;
    min-height:  66px;
    font-family: $Secondary-font;
}

#sub-footer {
  .wrapper{
    border-top: 1px solid #4e525b;
  }
}

#sub-footer p{
  display: block;
  padding: 1.25rem 0px 1.06rem;
  margin: 0;
  color : #979eb1;
}

#sub-footer .field-content p span{
  color: #5dc0c9;
}